html,
body {
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 60px 2fr 1fr 60px;
  grid-template-rows: auto;
  gap: 1em;
}
.heading {
  grid-column: 1/-1;
  text-align: center;
  background-color: rgb(172, 206, 149);
}
.news-block {
  grid-column: 2;
  width: 45em;
}
.news-card {
  padding: 1em;
  list-style-type: none;
  border-radius: 6px;
  margin-bottom: 1em;
  background: #fff;
  box-shadow: 0px 2px 6px 2px #0002;
}
.news-card-title {
  font-weight: 700;
  font-size: large;
}
.news-card-description {
  padding-top: 1em;
  font-weight: 400;
  font-size: small;
}
form {
  grid-column: 2;
}
.loading {
  font-size: xx-large;
  grid-column: 2;
}
