html,
body {
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 60px 2fr 1fr 60px;
  grid-template-rows: auto;
  gap: 1em;
}
.heading {
  grid-column: 1/-1;
  text-align: center;
  background-color: rgb(116, 161, 182);
}
.news-block {
  grid-column: 2;
  width: 45em;
}
.news-card {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  padding: 1em;
  list-style-type: none;
  border-radius: 6px;
  margin-bottom: 1em;
  background: #fff;
  box-shadow: 0px 2px 6px 2px #0002;
}
.news-card-title {
  grid-column: 1/-1;
  font-weight: 700;
  font-size: large;
}
.news-card-description {
  grid-column: 1/6;
  padding-top: 1em;
  font-weight: 400;
  font-size: small;
}
form {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-content: center;
  justify-items: center;
  gap: 1em;
  font: inherit;
}
label {
  justify-content: center;
  padding-top: 1em;
}
.loading {
  font-size: xx-large;
  grid-column: 2;
}
.on-error {
  grid-column: 2;
  font-size: large;
}
.btn {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
.btn:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.btn:active {
  position: relative;
  top: 1px;
}
.thumbnail {
  grid-column: 6/7;
  box-shadow: 0px 1px 1px 1px #0002;
  border-radius: 6px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5pxm;
  width: 150px;
  height: auto;
}
